<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog_Post</title>
  <link rel="stylesheet" href="/css/jass.css">
   <link rel="stylesheet" href="/css/style.css">
</head>

<body id = "body">
  <header class="display-flex justify-space-between align-center p-2" id = "header">
    <h1>
      Blog_Post
    </h1>
    
    {{#if logged_in}}
    <nav>
      <button class="btn" id="home">home</button>
      <button class="btn" id="dashboard">dashboard</button>
      <button class="btn" id="logout">logout</button>

    </nav>

    {{else}}
 
    {{/if}}
  </header>
  <main class="container container-fluid mt-5" id = "main">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
